#products {
  .editing{
    cursor: default;
    margin-top:20px;
      input{
        width: 90%;
      }
      input[type="submit"]{
        width: initial;
        margin-top:20px;
        margin-bottom:20px;
      }
  }
  i {
    float:right;
  }
  #logoutLink{
    float:right;
    margin-top:20px;
  }
  li:hover{
    cursor: pointer;
    background-color: rgba(255,255,255,0);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}
